In [53]:
import pandas as pd

fulldata_df = pd.read_csv("/content/online_store_customer_data.csv")

In [54]:
print(fulldata_df.shape)

# Number of columns = 11

(2512, 11)

In [55]:
print(fulldata_df.describe())

       Transaction_ID          Age      Referal  Amount_spent
count     2512.000000  2470.000000  2357.000000   2270.000000
mean    152443.931131    46.637652     0.652100   1418.422577
std        724.580482    18.186277     0.476405    878.507451
min     151200.000000    15.000000     0.000000      2.090000
25%     151815.750000    32.000000     0.000000    678.192500
50%     152443.500000    47.000000     1.000000   1341.435000
75%     153071.250000    62.000000     1.000000   2038.102500
max     153699.000000    78.000000     1.000000   2999.980000

In [56]:
print(fulldata_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2512 entries, 0 to 2511
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction_date  2512 non-null   object
 1   Transaction_ID    2512 non-null   int64
 2   Gender            2484 non-null   object
 3   Age               2470 non-null   float64
 4   Marital_status    2512 non-null   object
 5   State_names       2512 non-null   object
 6   Segment           2512 non-null   object
 7   Employees_status  2486 non-null   object
 8   Payment_method    2512 non-null   object
 9   Referal           2357 non-null   float64
 10  Amount_spent      2270 non-null   float64
dtypes: float64(3), int64(1), object(7)
memory usage: 216.0+ KB
None

In [57]:
print(fulldata_df['Gender'].value_counts())

Gender
Female    1356
Male      1128
Name: count, dtype: int64

In [58]:
print(fulldata_df['Marital_status'].value_counts())

Marital_status
Married    1473
Single     1039
Name: count, dtype: int64

In [59]:
print(fulldata_df['Payment_method'].value_counts())

Payment_method
PayPal    1168
Card       749
Other      595
Name: count, dtype: int64

In [60]:
print(fulldata_df.isnull().sum())

Transaction_date      0
Transaction_ID        0
Gender               28
Age                  42
Marital_status        0
State_names           0
Segment               0
Employees_status     26
Payment_method        0
Referal             155
Amount_spent        242
dtype: int64

In [61]:
print(fulldata_df.isna().sum())

Transaction_date      0
Transaction_ID        0
Gender               28
Age                  42
Marital_status        0
State_names           0
Segment               0
Employees_status     26
Payment_method        0
Referal             155
Amount_spent        242
dtype: int64

In [62]:
mean_age = fulldata_df['Age'].mean()
print(mean_age)

46.63765182186235

In [65]:
fulldata_df['Age'] = fulldata_df['Age'].fillna(mean_age)
print(fulldata_df['Age'].isnull().sum())

0

In [66]:
mean_amount_spent = fulldata_df['Amount_spent'].mean()
print(mean_amount_spent)

1418.4225770925111

In [67]:
fulldata_df['Amount_spent'] = fulldata_df['Amount_spent'].fillna(mean_amount_spent)
print(fulldata_df['Amount_spent'].isnull().sum())

0

In [68]:
mode_gender = fulldata_df['Gender'].mode().iloc[0]
print(mode_gender)

Female

In [69]:
fulldata_df['Gender'] = fulldata_df['Gender'].fillna(mode_gender)
print(fulldata_df['Gender'].isnull().sum())

0

In [70]:
mode_employees_status = fulldata_df['Employees_status'].mode().iloc[0]
print(mode_employees_status)

Employees

In [71]:
fulldata_df['Employees_status'] = fulldata_df['Employees_status'].fillna(mode_employees_status)
print(fulldata_df['Employees_status'].isnull().sum())

0

In [72]:
mean_referal = fulldata_df['Referal'].mean()
print(mean_referal)

0.6521001272804412

In [73]:
fulldata_df['Referal'] = fulldata_df['Referal'].fillna(mean_referal)
print(fulldata_df['Referal'].isnull().sum())

0

In [74]:
print(fulldata_df.isnull().sum())

Transaction_date    0
Transaction_ID      0
Gender              0
Age                 0
Marital_status      0
State_names         0
Segment             0
Employees_status    0
Payment_method      0
Referal             0
Amount_spent        0
dtype: int64